:root {
  --green: #078939;
  --white: #ffffff;
  --color-swatches--black: #181f1a;
  --color-swatches--black2: #484d49;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
